<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      label="Novo Livro"
      icon="pi pi-plus"
      style="background-color: #28a745; border-color: #28a745; color: white;"
      (click)="abrirCadastroDialog()">
    </button>
  </div>
</p-toolbar>

<p-table [value]="livros" [style]="{'width': '100%'}">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10%;">Código</th>
      <th>Titulo</th>
      <th>Editora</th>
      <th>Edição</th>
      <th>Ano de Publicação</th>
      <th>Valor</th>
      <th style="width: 15%;">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-livro>
    <tr>
      <td>{{ livro.cod }}</td>
      <td>{{ livro.titulo }}</td>
      <td>{{ livro.editora }}</td>
      <td>{{ livro.edicao }}</td>
      <td>{{ livro.anoPublicacao }}</td>
      <td>{{ livro.valorFormatado }}</td>
      <td>
        <button
          pButton
          class="m-1"
          icon="pi pi-pencil"
          style="color: white; background-color: #007bff; border-color: #007bff;"
          (click)="abrirCadastroDialog(livro)">
        </button>
        <button
          pButton
          class="m-1"
          icon="pi pi-trash"
          style="color: white; background-color: #dc3545; border-color: #dc3545;"
          (click)="deletarLivro(livro.cod)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="cadastroDialog"
          [header]="titleCadastroDialog"
          [style]="{'width': '1000px', 'border-radius': '8px', 'box-shadow': '0 4px 10px rgba(0, 0, 0, 0.3)'}"
          [modal]="true"
          [closable]="true">
  <div class="p-fluid p-grid">
    <div class="field p-col-6">
      <label for="nome">Titulo:</label>
      <input
        pInputText
        id="nome"
        placeholder="Digite o titulo do livro"
        [maxlength]="40"
        [(ngModel)]="livro.titulo"
        [ngClass]="{'p-invalid': !livro.titulo && submitted}"
        style="padding: 10px; font-size: 14px; border-radius: 5px; border: 1px solid #ccc;"/>
      <small *ngIf="!livro.titulo && submitted" class="p-error">O Titulo é obrigatório.</small>
    </div>
    <div class="field p-col-6">
      <label for="isbn">ISBN:</label>
      <input
        pInputText
        id="isbn"
        placeholder="Digite o isbn do livro"
        [maxlength]="13"
        [(ngModel)]="livro.isbn"
        [ngClass]="{'p-invalid': !livro.isbn && submitted}"
        style="padding: 10px; font-size: 14px; border-radius: 5px; border: 1px solid #ccc;"/>
      <small *ngIf="!livro.isbn && submitted" class="p-error">O ISBN é obrigatório.</small>
    </div>

    <div class="field p-col-12">
      <label for="livroAutores">Autor(s):</label>
      <p-multiSelect
        id="livroAutores"
        placeholder="Selecione o(s) autor(es) do livro"
        [options]="autores"
        [(ngModel)]="livro.autores"
        optionLabel="nome"></p-multiSelect>
      <small
        *ngIf="livro.autores.length === 0 && submitted"
        class="p-error">É necessário informar pelo menos um autor.</small>
    </div>
    <div class="field p-col-12">
      <label for="livroAssuntos">Assunto(s):</label>
      <p-multiSelect
        id="livroAssuntos"
        placeholder="Selecione o(s) assunto(s) do livro"
        [options]="assuntos"
        [(ngModel)]="livro.assuntos"
        optionLabel="descricao"></p-multiSelect>
      <small
        *ngIf="livro.assuntos.length === 0 && submitted"
        class="p-error">É necessário informar pelo menos um assunto.</small>
    </div>
    <div class="field p-col-12 p-md-6">
      <label for="editora">Editora:</label>
      <input
        pInputText
        id="editora"
        placeholder="Digite a editora do livro"
        [maxlength]="40"
        [(ngModel)]="livro.editora"
        [ngClass]="{'p-invalid': !livro.editora && submitted}"
        style="padding: 10px; font-size: 14px; border-radius: 5px; border: 1px solid #ccc;"/>
      <small *ngIf="!livro.editora && submitted" class="p-error">A Editora é obrigatória.</small>
    </div>
    <div class="field p-col-12 p-md-6">
      <label for="edicao">Edição:</label>
      <input
        pInputText
        type="number"
        id="edicao"
        step="1"
        placeholder="Digite a edição do livro"
        [min]="1"
        (keydown)="preventDecimal($event)"
        [(ngModel)]="livro.edicao"
        [ngClass]="{'p-invalid': !livro.edicao && submitted}"
        style="padding: 10px; font-size: 14px; border-radius: 5px; border: 1px solid #ccc;"/>
      <small *ngIf="!livro.edicao && submitted" class="p-error">A Editora é obrigatória.</small>
    </div>
    <div class="field p-col-12 p-md-6">
      <label for="anoPublicacao">Ano da Publicação:</label>
      <input
        pInputText
        type="number"
        id="anoPublicacao"
        step="1"
        placeholder="Digite o ano da publicação do livro"
        [min]="1000"
        [max]="currentYear"
        (keydown)="preventDecimal($event)"
        [(ngModel)]="livro.anoPublicacao"
        [ngClass]="{'p-invalid': !livro.anoPublicacao && submitted}"
        style="padding: 10px; font-size: 14px; border-radius: 5px; border: 1px solid #ccc;"/>
      <small *ngIf="!livro.anoPublicacao && submitted" class="p-error">O Ano da Publicação é obrigatório.</small>
    </div>
    <div class="field p-col-12 p-md-6">
      <label for="valor">Valor:</label>
      <input
        pInputText
        id="valor"
        type="text"
        placeholder="Digite o valor do livro"
        [(ngModel)]="valor"
        (input)="formatarValorMonetario()"
        (keydown)="bloquearCaracteresInvalidos($event)"
        [ngClass]="{'p-invalid': !livro.valor && submitted}"
        style="padding: 10px; font-size: 14px; border-radius: 5px; border: 1px solid #ccc;" />
      <small *ngIf="!livro.valor && submitted" class="p-error">
        O Valor é obrigatório. Caso doação informe o valor zerado.
      </small>
    </div>
  </div>
  <p-footer>
    <div class="p-d-flex p-jc-end">
      <button
        pButton
        label="Cancelar"
        icon="pi pi-times"
        style="background-color: #dc3545; border-color: #dc3545; color: white; margin-right: 10px;"
        (click)="fecharDialog()">
      </button>
      <button
        pButton
        label="Salvar"
        icon="pi pi-check"
        style="background-color: #28a745; border-color: #28a745; color: white;"
        (click)="validarSalvar()">
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
